{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous?
{% endblock %}

{% block body %}
	<section class="container-fluid h-100 d-flex justify-content-center align-items-center mt-8">
		<div class="card col-6 p-5 box-shadow">
			<div class="justify-content-center align-items-center ">
				<p>Nous sommes les cerveaux derrière le bling-bling !<br><br>
					<b>The Swanky Sack</b>
					est né de notre amour pour tout ce qui est luxueux et stylé. 
										                Notre équipe parcourt le monde à la recherche des sacs les plus uniques et les plus accrocheurs 
										                à ajouter à notre collection. Nous croyons qu'un sac exceptionnel est bien plus qu'un simple 
										                accessoire - c'est une extension de votre personnalité et une expression de votre individualité. 
										                C'est pourquoi nous offrons une gamme diversifiée de styles et de designs pour satisfaire tous 
										                les goûts, du classique au plus audacieux.<br><br>
					Nous sommes engagés à offrir à nos clients une expérience d'achat personnalisée, pratique et 
										                agréable. Notre service clientèle de première qualité, notre livraison rapide et fiable, ainsi 
										                que notre politique de retour sans tracas garantissent que vous serez entièrement satisfait de 
										                votre achat et que vous reviendrez pour plus.<br><br>
					Alors, n'hésitez plus et offrez-vous une touche de luxe avec
					<b>The Swanky Sack</b>.<br><br>
					Vous le méritez bien !<p/>
					<hr
					style="w-3">
					{#                 <p style="" > Bien SACordialement, <br> — The Swanky Sack squad</p>
										 #}
					<div style="font-family:inherit;text-align:inherit">Bien SACordialement,
						<br>
						—The Swanky Sack squad</div>
				</p>
			</div>
		</div>
	</section>
{% endblock %}
