{% extends 'base.html.twig' %}


{% block title %}Contacts

{% endblock %}


{% block body %}
	<h2 class="text-center mt-5">
		Contacts
	</h2>
	<section class="container-fluid h-100 d-flex justify-content-center align-items-center mt-8">
		<div class="card col-6 p-5 box-shadow">
			<div class="justify-content-center align-items-center ">
				<p>Bienvenue sur la page de contact de
					<b>The Swanky Sack</b>
					! Nous sommes ravis de pouvoir répondre à toutes vos questions et de vous aider de toutes les manières possibles.
					<br><br>
					Si vous avez des questions sur nos produits, nos politiques d'expédition et de retour, ou si vous avez simplement besoin d'aide pour naviguer sur notre site, notre équipe de service client est à votre disposition pour vous aider.
																									
																									Vous pouvez nous contacter en utilisant le formulaire de contact ci-dessous, en nous envoyant un e-mail directement à l'adresse électronique de notre service client, ou en nous envoyant un message via nos réseaux sociaux.
					<br><br>
					Nous sommes également disponibles par téléphone si vous préférez parler à un membre de notre équipe. Nos heures d'ouverture sont de 9h à 17h du lundi au vendredi.
					<br><br>
					Nous nous engageons à répondre à toutes les demandes dans les plus brefs délais, afin de vous fournir le meilleur service possible.
					<br><br>
					Merci de choisir
					<b>
						The Swanky Sack</b>
					pour vos besoins en matière de sacs et accessoires de mode.
					<br><br>
					Nous sommes impatients de vous aider et de vous fournir une expérience de shopping exceptionnelle !
				</p>
			</div>
		</div>
	</section>
</div>{% endblock %}
