{% extends 'base.html.twig' %}
{% block title %}
	FAQ
{% endblock %}
{% block
  body %}
	<div class="text-center mt-5">
		<h2>FAQ</h2>
		<div class="container-fluid h-100 d-flex justify-content-center mt-8">
			<div class="card col-6 p-5 box-shadow">
				<div class="float-left">
					<p>
						Bienvenue sur la page FAQ de The Swanky Sack ! Nous sommes ravis de pouvoir répondre à toutes les questions que vous pourriez avoir sur notre site et nos produits. Voici quelques-unes des questions les plus fréquemment posées par nos clients :
					</p>
					<b>Quels sont les modes de paiement acceptés sur votre site ?</b>
					<br/>
					Nous acceptons les paiements par carte de crédit ou de débit, ainsi
										              que les paiements par PayPal. Nous prenons également en charge les
										              virements bancaires pour les commandes en gros.
					<br/><br/>

					<b>Quelle est votre politique d'expédition ?</b><br/>
					<p>Nous proposons une expédition rapide et fiable vers de nombreuses
												              destinations à travers le monde. Les délais de livraison varient en
												              fonction de votre emplacement, mais nous nous efforçons de livrer
												              les commandes dans les meilleurs délais. Pour plus d'informations,
												              veuillez consulter notre page Politique d'expédition.
					</p>

					<b>Puis-je retourner un produit si je ne suis pas satisfait ?
					</b>
					<br/>
					<p>Nous offrons une politique de retour sans tracas pour tous nos produits. Si vous n'êtes pas satisfait de votre achat, vous pouvez
nous renvoyer le produit dans les 30 jours suivant la réception pour un remboursement ou un échange. Pour plus d'informations, veuillez
											              consulter notre page Politique de retour.
					</p>

					<b>Comment puis-je suivre ma commande ?
					</b><br/>
					Nous vous enverrons un e-mail de confirmation de commande dès que
									              votre commande sera expédiée, avec un numéro de suivi pour vous
									              permettre de suivre votre commande. Vous pouvez également vous
									              connecter à votre compte sur notre site pour vérifier l'état de
									              votre commande.
									           
									          Si vous avez d'autres questions ou préoccupations, n'hésitez pas à nous
									          contacter via notre page Contact ou en nous envoyant un e-mail à notre
									          service client. Nous sommes toujours là pour vous aider !
				</div>
			</div>
		</div>
	</div>
{% endblock %}
